<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>

		<add name="Default" connectionString="Data Source=DESKTOP-JSRT3H4\SQLEXPRESS;Initial Catalog=ConvenienceStore;MultipleActiveResultSets=True;Integrated Security=True" providerName="System.Data.SqlClient" />
		
	</connectionStrings>
</configuration>